.cust-info {
    margin: 100px;
    text-align: center;
}
.cust-search-nav {
    top: -28px;
    position: absolute;
    margin: 28px;
    right: 0;
}

.custom-nav {
    clear: both;
    margin-top: 20px;
}